/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.i_am img {
    width: 200px;
    float: left;
    margin: 20px
}

@media (max-width: 600px) {
    .i_am img {
        width: 70%;

    }


}

.wrap {

}
.one {
    order: 2;

}
.two {
    order: 1;
}
@media (min-width: 500px) {
    .one {
        order: 1;
    }
    .two {
        order: 2;
    }

    embed {
        width: 100%;
    }
}