/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.marginTop {
    margin-top: 60px;
}

.i_am img {
    width: 200px;
    float: left;
    margin: 20px
}

@media (max-width: 600px) {
    .i_am img {
        width: 70%;
    }

    .marginTop {
        margin-top: 0;
    }
}

.one {
    order: 2;
}

.two {
    order: 1;
}

@media (min-width: 500px) {
    .one {
        order: 1;
    }

    .two {
        order: 2;
    }

    embed {
        width: 100%;
    }
}


.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../assets/img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.line-height {
    line-height: 50px;
}

.bg-banner {
    background-color: rgba(0, 0, 0, 0.4);
}

.width-adaptive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.width-adaptive80 {
    width: 80%;
}

.width-adaptive60 {
    width: 60%;
}

.body-front {

    font-size: 20px;
    color: #7A7A7A;
}

iframe {
    width: 98%;
}

@media screen and (max-width: 600px) {
    .body-front {
        font-size: 20px;
    }


    .body-white {
        font-size: 20px;
        color: #fff;
    }

    .width-adaptive {
        width: 100%;
    }

    .width-adaptive80 {
        width: 100%;
    }

    .width-adaptive60 {
        width: 100%;
    }

    .col-lg-6.order-lg-first {
        margin-top: 50px;
    }

    header.masthead {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .front-gif {
        display: none;
    }

    .mob {
        width: 100%;
    }
}

main.py-4 {
    padding-top: 0rem !important;
}

.preloader {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/***********************************************ПаПап*/

/* Важная часть */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
    z-index: 10;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
    color: #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color: #2982ff;
    transition: 0.5s all;
}