.search {
    top: 100px;
}

.card {
    height: 70vh;
}


select#list {
    min-width: 350px;
    border: none;
    min-height: 100px;
    position: absolute;
    margin-top: 5px;
}

.main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    /*margin-top: 200px;*/
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px;
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
}

.main-search-input-item input:first-child {
    border-radius: 100%;
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.main-search-button {

    background: #4DB7FE;
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

:focus {
    outline: 0;
}


@media only screen and (max-width: 768px) {

    .search {
        top: 10px;
    }

    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0);
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px;
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff;
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px;
    }

    .card {
        height: 80vh;
    }
}

select{
    padding: 10px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
}
select::-ms-expand {
    display: none; /* удалите стрелку по умолчанию в IE 10 и 11 */
}
